POSTGRES_USER=postgres
POSTGRES_PASSWORD=03042026Van!
POSTGRES_DB=unisphere

JWT_KEY=BuCokGizliVeUzunBirSifreOlmali123456!
JWT_ISSUER=UniSphereAPI
JWT_AUDIENCE=UniSphereUsers
JWT_EXPIRE_MINUTES=60

ASPNETCORE_ENVIRONMENT=Production
